streamlit==1.26.0 # Или последняя актуальная версия
transformers==4.33.0 # Или последняя актуальная версия
Pillow==10.0.1 # Или последняя актуальная версия
torch==2.0.1 # Или последняя актуальная версия, может быть специфична для вашей ОС
torchvision==0.15.2 # Обычно идет вместе с torch
torchaudio==2.0.2 # Обычно идет вместе с torch
